/* LandingPageGreeting.css */

/* Light mode styles */
.landing-page.light {
    color: #333333;
}

/* Dark mode styles */
.landing-page.dark {
    color: #ffffff;
}

body.light {
    background-color: #f8f8f8;
    background-repeat: repeat;
}

body.dark {
    background-color: #222222;
    background-repeat: repeat;
}

.landing-page-greeting {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 24px;
}

.landing-page-greeting h1 {
    font-size: 48px;
    margin-bottom: 5px;
}

.landing-page-greeting p {
    font-size: 20px;
    margin: 10px 0;
}

.landing-page-greeting a {
    text-decoration: none;
    color: var(--social-media-icon-color); /* Use CSS variable for social media icon color */
    font-weight: bold;
}

/* Define CSS variable for social media icon color */
:root {
    --social-media-icon-color: #007bff;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
