/* PostList.css */

/* Container for the entire post list */
.post-list-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
}

/* Page title */
.page-title {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Button to add a new post */
.add-post-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    margin-bottom: 20px;
}

/* Filter form */
.filter-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Filter group */
.filter-group {
    margin-right: 20px;
}

/* Filter select and input */
.filter-select,
.filter-input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Show only current user's posts button */
.show-current-user-posts {
    margin-bottom: 10px;
}

.current-user-posts-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
}

/* Reset filters button */
.reset-filters-container {
    margin-bottom: 20px;
}

.reset-filters-button {
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.reset-filters-button:hover {
    background-color: #ddd;
}

/* Post items */
.posts {
    display: flex;
    flex-direction: column;
}

/* Individual post */
.post {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Divider line */
.divider-line {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

/* Post title link */
.post-link {
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
    text-decoration: none;
}

/* Default state of the flag button */
.material-symbols-outlined.flag-button {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    color: red; /* Default color */
    background-color: #fff;
    transition: color 0.3s ease; /* Add a transition for smooth color change */
}

/* Styles for the flagged state */
.material-symbols-outlined.flag-button.flagged {
    color: red; /* Change color to red for flagged posts */
    background-color: yellow;
}
