/* Light Mode */
.postFormContainer {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.postForm {
    max-width: 400px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    color: #333333;
}

.postFormHeader {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.subtitle {
    font-size: 18px;
}

.input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.categorySelect {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.tagCheckbox {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.tagLabel {
    font-size: 16px;
    margin-left: 8px;
    cursor: pointer;
}

.createTagButton {
    background-color: #007bff;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 4px;
}

.createTagButton:hover {
    background-color: #0056b3;
}

.saveButton {
    background-color: #28a745;
    color: #ffffff;
    font-size: 18px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.saveButton:hover {
    background-color: #1e7e34;
}

/* Dark Mode */
.dark .postFormContainer {
    background-color: #333333;
    color: #ffffff;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.1);
}

.dark .postForm {
    border: 1px solid #555555;
}

.dark .postFormHeader {
    color: #ffffff;
}

.dark .input,
.dark .textarea,
.dark .select,
.dark .categorySelect {
    background-color: #555555;
    border: 1px solid #777777;
    color: #ffffff;
}

.dark .tagLabel {
    color: #ffffff;
}

.dark .createTagButton {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    transition: background-color 0.3s ease;
}

.dark .createTagButton:hover {
    background-color: #0056b3;
}

.dark .saveButton {
    background-color: #28a745;
    color: #ffffff;
    border: none;
}

.dark .saveButton:hover {
    background-color: #1e7e34;
}
