/* userList.css */

/* Container styles */
.user-list-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .header-links {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .user-list-link,
  .flagged-posts-link {
    font-size: 20px;
    text-decoration: none;
    color: #333;
  }
  
  /* User card styles */
  .user-card {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .divider-line {
    margin: 10px 0;
    border: 0;
    border-top: 1px solid #e0e0e0;
  }
  
  /* User info styles */
  .user-info {
    margin-bottom: 20px;
  }
  
  .user-username {
    font-weight: bold;
  }
  
  .user-fullname .user-link {
    text-decoration: none;
    color: #333;
  }
  
  .user-email {
    color: #777;
  }
  
  /* User action styles */
  .user-active {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .user-role input[type="radio"] {
    margin-right: 10px;
  }
  
  /* Styling for checked radio buttons */
  .user-role input[type="radio"]:checked + label {
    font-weight: bold;
    color: #007bff;
  }
  