.darkest-mode-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://cdn.wallpapersafari.com/48/14/vHdKBX.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    /* Ensure it's above other content */
}

.darkest-mode-modal-title {
    position: fixed;
    top: 20px;
    /* Adjust the top position as needed */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 24px;
    opacity: 0;
    animation: fadeIn 2s ease-in .5s forwards;
    /* Fade in over 10 seconds with a 2-second delay */
}

.darkest-mode-modal-subtitle {
    position: fixed;
    top: 50px;
    /* Adjust the top position as needed */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 18px;
    opacity: 0;
    animation: fadeIn 2s ease-in 2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Style the buttons */
.flying-button {
    /* White background for buttons */
    color: #000;
    /* Black text color */
    border: none;
    cursor: pointer;

    background: none;
    /* Remove the background */
    border: none;
    /* Remove the border */
    outline: none;
    /* Remove the outline */
    padding: 0;
    overflow: hidden;
    /* Remove padding if needed */
    display: flex;
    /* Ensure the image is a block element */
    max-width: 5%;
    /* Stretch to fill the button */
    height: auto;
    /* Preserve aspect ratio */
}

/* Hover effect for buttons */
.flying-button:hover {
    background-color: #000;
    /* Black background on hover */
    color: #fff;
    /* White text color on hover */
}

/* Style the flying button */
.flying-button.flying {
    position: absolute;
    animation: flyingAnimation 16s linear infinite;
}

/* Style the close button */
.close-darkest-mode-button {
    position: fixed;
    top: 10px;
    /* Adjust the top distance as needed */
    right: 10px;
    /* Adjust the right distance as needed */
    background-color: black;
    /* Button background color */
    color: white;
    /* Button text color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
    /* Ensure it's above other content */
}

/* Apply the flying-button class to the Mr. Freeze button */
.flying-button2 {
    /* White background for buttons */
    color: #000;
    /* Black text color */
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    background: none;
    /* Remove the background */
    border: none;
    /* Remove the border */
    outline: none;
    /* Remove the outline */
    padding: 0;
    /* Remove padding if needed */
    display: block;
    /* Ensure the image is a block element */
    max-width: 10%;
    /* Stretch to fill the button */
    height: auto;
    /* Preserve aspect ratio */
}

/* Hover effect for the Mr. Freeze button */
.flying-button2:hover {
    background-color: #000;
    /* Black background on hover */
    color: #fff;
    /* White text color on hover */
}

/* Style the flying button */
.flying-button2.flying {
    position: absolute;
    animation: flyingAnimation2 15s linear infinite;
}

/* Style the flying-button3 */
.flying-button3 {
    /* White background for buttons */
    color: #000;
    /* Black text color */
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    background: none;
    /* Remove the background */
    border: none;
    /* Remove the border */
    outline: none;
    /* Remove the outline */
    padding: 0;
    /* Remove padding if needed */
    display: block;
    /* Ensure the image is a block element */
    max-width: 20%;
    /* Stretch to fill the button */
    height: auto;
    /* Preserve aspect ratio */
}

/* Hover effect for flying-button3 */
.flying-button3:hover {
    background-color: #000;
    /* Black background on hover */
    color: #fff;
    /* White text color on hover */
}

/* Style the flying button for flying-button3 */
.flying-button3.flying {
    position: absolute;
    animation: flyingAnimation3 14s linear infinite;
}

/* Apply the flying-button class to the Riddler button */
.flying-button4 {
    /* White background for buttons */
    color: #000;
    /* Black text color */
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    background: none;
    /* Remove the background */
    border: none;
    /* Remove the border */
    outline: none;
    /* Remove the outline */
    padding: 0;
    /* Remove padding if needed */
    display: block;
    /* Ensure the image is a block element */
    max-width: 20%;
    /* Stretch to fill the button */
    height: auto;
    /* Preserve aspect ratio */
}

/* Hover effect for the Riddler button */
.flying-button4:hover {
    background-color: #000;
    /* Black background on hover */
    color: #fff;
    /* White text color on hover */
}

/* Style the flying button for flying-button4 */
.flying-button4.flying {
    position: absolute;
    animation: flyingAnimation4 13s linear infinite;
}

/* Apply the flying-button class to the Poison Ivy button */
.flying-button5 {
    /* White background for buttons */
    color: #000;
    /* Black text color */
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    background: none;
    /* Remove the background */
    border: none;
    /* Remove the border */
    outline: none;
    /* Remove the outline */
    padding: 0;
    /* Remove padding if needed */
    display: block;
    /* Ensure the image is a block element */
    max-width: 15%;
    /* Stretch to fill the button */
    height: auto;
    /* Preserve aspect ratio */
}

/* Hover effect for the Poison Ivy button */
.flying-button5:hover {
    background-color: #000;
    /* Black background on hover */
    color: #fff;
    /* White text color on hover */
}

/* Style the flying button for flying-button5 */
.flying-button5.flying {
    position: absolute;
    animation: flyingAnimation5 12s linear infinite;
}

/* Apply the flying-button class to the Penguin button */
.flying-button6 {
    /* White background for buttons */
    color: #000;
    /* Black text color */
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    background: none;
    /* Remove the background */
    border: none;
    /* Remove the border */
    outline: none;
    /* Remove the outline */
    padding: 0;
    /* Remove padding if needed */
    display: block;
    /* Ensure the image is a block element */
    max-width: 7%;
    /* Stretch to fill the button */
    height: auto;
    /* Preserve aspect ratio */
}

/* Hover effect for the Penguin button */
.flying-button6:hover {
    background-color: #000;
    /* Black background on hover */
    color: #fff;
    /* White text color on hover */
}

/* Style the flying button for flying-button6 */
.flying-button6.flying {
    position: absolute;
    animation: flyingAnimation6 11s linear infinite;
}

/* Apply the flying-button class to the Harley Quinn button */
.flying-button7 {
    /* White background for buttons */
    color: #000;
    /* Black text color */
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    background: none;
    /* Remove the background */
    border: none;
    /* Remove the border */
    outline: none;
    /* Remove the outline */
    padding: 0;
    /* Remove padding if needed */
    display: flex;
    /* Ensure the image is a block element */
    max-width: 15%;
    /* Stretch to fill the button */
    height: auto;
    /* Preserve aspect ratio */
}

/* Hover effect for the Harley Quinn button */
.flying-button7:hover {
    background-color: #000;
    /* Black background on hover */
    color: #fff;
    /* White text color on hover */
}

/* Style the flying button for flying-button7 */
.flying-button7.flying {
    position: absolute;
    animation: flyingAnimation7 10s linear infinite;
}

/* Hover effect for the close button */
.close-darkest-mode-button:hover {
    background-color: white;
    /* Background color on hover */
    color: black;
    /* Text color on hover */
}

@keyframes flyingAnimation {
    0% {
        transform: translateY(0px) translateX(0px);
    }

    5% {
        transform: translateY(-400px) translateX(-550px);
    }

    10% {
        transform: translateY(400px) translateX(875px);
    }

    15% {
        transform: translateY(-250px) translateX(-290px);
    }

    20% {
        transform: translateY(400px) translateX(875px);
    }

    25% {
        transform: translateY(-200px) translateX(-320px);
    }

    30% {
        transform: translateY(400px) translateX(875px);
    }

    35% {
        transform: translateY(-150px) translateX(-550px);
    }

    40% {
        transform: translateY(400px) translateX(227px);
    }

    45% {
        transform: translateY(-400px) translateX(-550px);
    }

    50% {
        transform: translateY(400px) translateX(555px);
    }

    55% {
        transform: translateY(-350px) translateX(131px);
    }

    60% {
        transform: translateY(-400px) translateX(-550px);
    }

    65% {
        transform: translateY(400px) translateX(-320px);
    }

    70% {
        transform: translateY(-300px) translateX(66px);
    }

    75% {
        transform: translateY(-400px) translateX(-290px);
    }

    80% {
        transform: translateY(400px) translateX(375px);
    }

    85% {
        transform: translateY(-400px) translateX(414px);
    }

    90% {
        transform: translateY(400px) translateX(-95px);
    }

    95% {
        transform: translateY(0px) translateX(-123px);
    }

    100% {
        transform: translateY(400px) translateX(40px);
    }
}

@keyframes flyingAnimation2 {
    0% {
        transform: translateY(400px) translateX(-550px);
    }

    5% {
        transform: translateY(-400px) translateX(875px);
    }

    10% {
        transform: translateY(203px) translateX(504px);
    }

    15% {
        transform: translateY(-29px) translateX(-303px);
    }

    20% {
        transform: translateY(-137px) translateX(190px);
    }

    25% {
        transform: translateY(-191px) translateX(194px);
    }

    30% {
        transform: translateY(186px) translateX(-86px);
    }

    35% {
        transform: translateY(-112px) translateX(-361px);
    }

    40% {
        transform: translateY(-319px) translateX(70px);
    }

    45% {
        transform: translateY(33px) translateX(-277px);
    }

    50% {
        transform: translateY(164px) translateX(603px);
    }

    55% {
        transform: translateY(29px) translateX(10px);
    }

    60% {
        transform: translateY(-400px) translateX(-550px);
    }

    65% {
        transform: translateY(-43px) translateX(-144px);
    }

    70% {
        transform: translateY(91px) translateX(256px);
    }

    75% {
        transform: translateY(-231px) translateX(-14px);
    }

    80% {
        transform: translateY(320px) translateX(278px);
    }

    85% {
        transform: translateY(244px) translateX(376px);
    }

    90% {
        transform: translateY(-400px) translateX(-550px);
    }

    95% {
        transform: translateY(400px) translateX(-123px);
    }

    100% {
        transform: translateY(400px) translateX(875px);
    }
}

@keyframes flyingAnimation3 {
    0% {
        transform: translateY(400px) translateX(875px);
    }

    5% {
        transform: translateY(223px) translateX(-416px);
    }

    10% {
        transform: translateY(-159px) translateX(641px);
    }

    15% {
        transform: translateY(-307px) translateX(-539px);
    }

    20% {
        transform: translateY(38px) translateX(875px);
    }

    25% {
        transform: translateY(-150px) translateX(875px);
    }

    30% {
        transform: translateY(265px) translateX(-307px);
    }

    35% {
        transform: translateY(-256px) translateX(-550px);
    }

    40% {
        transform: translateY(-400px) translateX(204px);
    }

    45% {
        transform: translateY(400px) translateX(-550px);
    }

    50% {
        transform: translateY(106px) translateX(875px);
    }

    55% {
        transform: translateY(23px) translateX(41px);
    }

    60% {
        transform: translateY(-400px) translateX(-550px);
    }

    65% {
        transform: translateY(-35px) translateX(-486px);
    }

    70% {
        transform: translateY(158px) translateX(66px);
    }

    75% {
        transform: translateY(-240px) translateX(-28px);
    }

    80% {
        transform: translateY(235px) translateX(671px);
    }

    85% {
        transform: translateY(400px) translateX(444px);
    }

    90% {
        transform: translateY(-400px) translateX(-95px);
    }

    95% {
        transform: translateY(320px) translateX(-123px);
    }

    100% {
        transform: translateY(70px) translateX(875px);
    }
}

@keyframes flyingAnimation4 {
    0% {
        transform: translateY(400px) translateX(875px);
    }

    5% {
        transform: translateY(223px) translateX(-416px);
    }

    10% {
        transform: translateY(-159px) translateX(641px);
    }

    15% {
        transform: translateY(-400px) translateX(-262px);
    }

    20% {
        transform: translateY(-61px) translateX(875px);
    }

    25% {
        transform: translateY(29px) translateX(875px);
    }

    30% {
        transform: translateY(400px) translateX(-307px);
    }

    35% {
        transform: translateY(-160px) translateX(-550px);
    }

    40% {
        transform: translateY(-400px) translateX(204px);
    }

    45% {
        transform: translateY(136px) translateX(-550px);
    }

    50% {
        transform: translateY(400px) translateX(875px);
    }

    55% {
        transform: translateY(195px) translateX(131px);
    }

    60% {
        transform: translateY(-400px) translateX(-550px);
    }

    65% {
        transform: translateY(-47px) translateX(-570px);
    }

    70% {
        transform: translateY(248px) translateX(66px);
    }

    75% {
        transform: translateY(-240px) translateX(-28px);
    }

    80% {
        transform: translateY(235px) translateX(671px);
    }

    85% {
        transform: translateY(400px) translateX(444px);
    }

    90% {
        transform: translateY(-400px) translateX(-95px);
    }

    95% {
        transform: translateY(320px) translateX(-123px);
    }

    100% {
        transform: translateY(70px) translateX(875px);
    }
}

@keyframes flyingAnimation5 {
    0% {
        transform: translateY(-356px) translateX(-550px);
    }

    5% {
        transform: translateY(400px) translateX(875px);
    }

    10% {
        transform: translateY(-400px) translateX(463px);
    }

    15% {
        transform: translateY(265px) translateX(-394px);
    }

    20% {
        transform: translateY(38px) translateX(875px);
    }

    25% {
        transform: translateY(-400px) translateX(595px);
    }

    30% {
        transform: translateY(400px) translateX(-206px);
    }

    35% {
        transform: translateY(-285px) translateX(-550px);
    }

    40% {
        transform: translateY(-316px) translateX(227px);
    }

    45% {
        transform: translateY(400px) translateX(-550px);
    }

    50% {
        transform: translateY(-400px) translateX(555px);
    }

    55% {
        transform: translateY(-272px) translateX(131px);
    }

    60% {
        transform: translateY(400px) translateX(-126px);
    }

    65% {
        transform: translateY(400px) translateX(-570px);
    }

    70% {
        transform: translateY(400px) translateX(66px);
    }

    75% {
        transform: translateY(-240px) translateX(-28px);
    }

    80% {
        transform: translateY(-400px) translateX(375px);
    }

    85% {
        transform: translateY(308px) translateX(414px);
    }

    90% {
        transform: translateY(-400px) translateX(-95px);
    }

    95% {
        transform: translateY(70px) translateX(-123px);
    }

    100% {
        transform: translateY(400px) translateX(875px);
    }
}

@keyframes flyingAnimation6 {
    0% {
        transform: translateY(-400px) translateX(875px);
    }

    5% {
        transform: translateY(-212px) translateX(-552px);
    }

    10% {
        transform: translateY(400px) translateX(466px);
    }

    15% {
        transform: translateY(313px) translateX(-550px);
    }

    20% {
        transform: translateY(400px) translateX(875px);
    }

    25% {
        transform: translateY(-147px) translateX(875px);
    }

    30% {
        transform: translateY(-400px) translateX(-206px);
    }

    35% {
        transform: translateY(400px) translateX(-550px);
    }

    40% {
        transform: translateY(-378px) translateX(227px);
    }

    45% {
        transform: translateY(400px) translateX(-550px);
    }

    50% {
        transform: translateY(-400px) translateX(555px);
    }

    55% {
        transform: translateY(-259px) translateX(131px);
    }

    60% {
        transform: translateY(400px) translateX(-126px);
    }

    65% {
        transform: translateY(400px) translateX(-570px);
    }

    70% {
        transform: translateY(400px) translateX(66px);
    }

    75% {
        transform: translateY(-240px) translateX(-28px);
    }

    80% {
        transform: translateY(-400px) translateX(375px);
    }

    85% {
        transform: translateY(308px) translateX(414px);
    }

    90% {
        transform: translateY(-400px) translateX(-95px);
    }

    95% {
        transform: translateY(400px) translateX(-123px);
    }

    100% {
        transform: translateY(400px) translateX(875px);
    }
}

@keyframes flyingAnimation7 {
    0% {
        transform: translateY(400px) translateX(-550px);
    }

    5% {
        transform: translateY(-117px) translateX(875px);
    }

    10% {
        transform: translateY(400px) translateX(141px);
    }

    15% {
        transform: translateY(400px) translateX(-394px);
    }

    20% {
        transform: translateY(400px) translateX(875px);
    }

    25% {
        transform: translateY(-400px) translateX(595px);
    }

    30% {
        transform: translateY(-400px) translateX(-206px);
    }

    35% {
        transform: translateY(400px) translateX(-550px);
    }

    40% {
        transform: translateY(-169px) translateX(227px);
    }

    45% {
        transform: translateY(400px) translateX(-550px);
    }

    50% {
        transform: translateY(-400px) translateX(555px);
    }

    55% {
        transform: translateY(262px) translateX(131px);
    }

    60% {
        transform: translateY(-400px) translateX(-126px);
    }

    65% {
        transform: translateY(400px) translateX(-570px);
    }

    70% {
        transform: translateY(-400px) translateX(66px);
    }

    75% {
        transform: translateY(-400px) translateX(-28px);
    }

    80% {
        transform: translateY(400px) translateX(375px);
    }

    85% {
        transform: translateY(400px) translateX(414px);
    }

    90% {
        transform: translateY(-400px) translateX(-95px);
    }

    95% {
        transform: translateY(308px) translateX(-123px);
    }

    100% {
        transform: translateY(-400px) translateX(875px);
    }
}