/* Navbar styles */
.navbar {
    background-color: #333;
    /* Dark background color */
    padding: 1rem 1rem;
    /* Add padding to the navbar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow */
    transition: background-color 0.5s ease;
    /* Smooth background color transition */
}

/* Navbar logo styles */
.logo {
    display: flex;
    align-items: center;
    /* Vertically center the logo and text */
    color: #fff;
    /* Text color for the logo */
    transition: color 0.3s ease;
    /* Smooth color transition */
}

.logo img {
    margin-right: 5px;
    /* Add space to the right of the logo */
}

.navbar-title {
    color: white;
}

/* Mobile burger menu styles */
.navbar-burger {
    color: #fff;
    /* Color of the burger menu icon */
}

/* Navbar links styles */
.navbar-menu {
    display: flex;
    justify-content: center; /* Horizontally center the navbar items */
    align-items: center; /* Vertically center the navbar items */
}

.navbar-links {
    color: #fff;
    /* Text color for links */
    margin-right: 1rem;
    /* Add space between links */
    transition: color 0.3s ease; /* Smooth color transition */
    font-size: 1.2rem; /* Increase font size */
    display: flex;
    align-items: center; /* Vertically center the navbar links */
}

.navbar-item {
    color: #fff;
    /* Text color for links */
    margin-right: 1rem;
    /* Add space between links */
    transition: color 0.3s ease; /* Smooth color transition */
    font-size: 1.2rem; /* Increase font size */
    justify-content: center;
    align-items: center;
}

.navbar-item:hover {
    color: #ffcc29;
    /* Text color on hover */
    opacity: 1; /* Restore full opacity on hover */
}

/* Dark Mode and Batman Logo styles */
.dark-mode-container,
.dark-mode-toggle-container {
    display: flex;
    align-items: center;
    /* Vertically center content */
    cursor: pointer;
    margin-right: 10px;
    /* Add space between elements */
    transition: color 0.3s ease, background-color 0.3s ease;
    /* Smooth color and background color transition */
    /* Add padding to the container */
    border-radius: 4px;
    /* Add rounded corners */
}

.batman-logo {
    width: 5rem;
    /* Set width of the logo */
    margin-right: 10px;
    /* Add space to the right of the logo */
    transition: background-color 0.3s ease;
    /* Smooth background color transition */
}

.darkest-mode-text {
    color: white;
    font-size: 1.2rem;
    padding: 1rem;
    /* Increase font size */
}

.darkest-mode-text:hover {
    color: black;
    /* Text color on hover */
}

.dark-mode-toggle-container:hover,
.batman-logo:hover {
    color: black;
    /* Text color on hover */
    background-color: yellow;
    /* Yellow background on hover */
}

/* Logout button styles */
.logout-button {
    border: none;
    background-color: red;
    color: white;
    /* Text color for the button */
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;
    /* Smooth color transition */
    font-size: 1.2rem;
    /* Increase font size */
    padding: 0.5rem 1rem;
    /* Add padding to the button */
    border-radius: 4px;
    /* Add rounded corners */
    text-transform: uppercase;
    /* Uppercase text */
    letter-spacing: 1px;
    /* Add letter spacing */
}

.logout-button:hover {
    color: white;
    /* Text color on hover */
    background-color: #ff3860;
    /* Change background color on hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0);
    /* Add a subtle shadow on hover */
}
